.contenedor {
    width: 111vw;
    height: 30em;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    
}

.contenedor::before {
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: url(Pictures/planeta\ del\ tesoro.jpg) center/cover no-repeat;
    filter: brightness(70%);
    /* ↓ Solo afecta a la imagen */
    z-index: 0;
    /* Queda detrás */
    background-size: cover;
    display: block;
    position: absolute;
    transform: translate(-8px);
}

.overlay {
    position: absolute;
    top: 50%;
    /* Centrado vertical */
    left: 44.6%;
    /* Centrado horizontal */
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.75);
    /* Fondo semitransparente */
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    filter: brightness(100%);

}

#colorNav {
    background-color: #000026;
}

.colorTextNav{
    color: whitesmoke;
}

#colorletrasEntrada{
    color: #BA2304;
}

.titulos{
    color: whitesmoke;
    background-color: #1c2510;
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 12px;
}
.textos{
    text-align: center;
    color: whitesmoke;
    background-color: #252e1d;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 12px; 
}
.fondo1{
    background-image: url(Pictures/atlantis.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 2rem 2rem;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;
    
}
.primerConte{
    padding: 1rem 1rem;
}

.card-body{
    background-color: #252e1d;
    color: whitesmoke;
}

.card{
    background-color: #252e1d;
}

.separacion{
    padding-right: 1rem;
    padding-left: 1rem;
}

body{
    background-color: #0B034D;
    margin: 0;
    padding: 0;
}

footer{
    background-color: #000026;
}

.navbar-nav{
    padding-right: 1rem;
}